* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Montserrat', sans-serif;


}

.sliders {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.switch-container {
    display: flex;


}

/* .toggle-button {
    background: #9297eb;
    width: 50px;
    height: 28px;
    border-radius: 30px;
    padding: 3px;
    cursor: pointer;
    transition: all 500ms ease-out;

} */

/* .toggle-button>.inner-circle {
    background: white;
    width: 25px;
    height: 25px;
    border-radius: 50%;

}


.toggle-button.active>.inner-circle {
    margin-left: 25px;

} */

.container {
    display: flex;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #9297eb;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #9297eb;
}

input:focus+.slider {
    box-shadow: 0 0 1px white;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.price {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px 0;
}

.card-container {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 100px;
    z-index: 1;



}

.card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    box-shadow: 3px 3px 20px gray;
    border-radius: 10px;
    height: 550px;
    width: 450px;
    transition: 0.3sec;
    z-index: 1;
    background-color: white;
}


.gray {
    color: gray;
    margin: 20px;
    font-size: 15px;
}

.white {
    color: white;
    margin: 20px;
    font-size: 15px;
}



.button {
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 20px 80px;
    border-radius: 10px;
    font-size: 15px;
    color: white;
    width: 350px;
    background-color: #9297eb;
}

.button:hover {
    cursor: pointer;
}

#big-blue {
    height: 600px;
    width: 450px;
    background-color: #9297eb;
    color: white;
    border-radius: 10px;


}

#big-button {
    margin-top: 30px;
    width: 360px;
}

.bg-top {
    position: absolute;
    top: 0;
    right: 0;

}

.bg-bottom {}

#bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
}